<div class="wrapper">
    <div class="container">
        <div class="patient-dropdown">
            <div class="form-group">
                    <select class="form-control" (change)="selectPatient($event.target.value)">
                        <option *ngFor="let patient of patient " [value]="patient.resource.id">
                                {{ patient.resource.name[0].given[0] }} {{patient.resource.name[0].family}}
                        </option>
                    </select>
            </div>
        </div>
        <div class="patient-demo">
            <div class="details" *ngIf="selectedPatient !== undefined">
                <div>
                    <span>Name: {{ selectedPatient.name[0].prefix[0] }} {{ selectedPatient.name[0].given[0] }} {{selectedPatient.name[0].family}}</span><br>
                </div>
                <div>
                    <span>ID : {{ selectedPatient.id }}</span><br>
                </div>
                <div>
                    <span>DOB: {{ selectedPatient.birthDate | date}}</span><br>
                </div>
                <div>
                    <span>Gender: {{ selectedPatient.gender | titlecase}}</span><br>
                </div>
                <div>
                    <div *ngFor="let data of selectedPatient.identifier">
                        <span *ngIf="data.type !== undefine && data.type.text === 'Medical Record Number'">MRN: {{ data.value }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="patient-condition" *ngIf="selectedPatient !== undefined">
            <table class="table">
                <thead>
                    <tr>
                        <th>Condition</th>
                        <th>Clinical Status</th>
                        <th>Verification Status</th>
                        <th>Onset Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let condition of patientCondition">
                        <td>{{ condition.code.text }}</td>
                        <td>{{ condition.clinicalStatus.coding[0].code }}</td>
                        <td>{{ condition.verificationStatus.coding[0].code }}</td>
                        <td>{{ condition.onsetDateTime | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>